h1{
    background-color: black;color: white;
}
p{
    background-color: black;color: white;
}
div{
    width: 1000px;
    height: 500px;
    background-repeat: no-repeat;
}
img {
    width:247px;
    height:247x;
}